pandas
scipy   
jupyter
python-docx
fpdf2

openpyxl

matplotlib
seaborn 
statsmodels

scikit-learn

datetime

pingouin

sqlalchemy

streamlit
sweetviz
plotly
plotly-express

dtale
ydata-profiling

shap